<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVh8pMYjyb-FHw4K3vv-uPhYrSu8BGihw</string>
	<key>GCM_SENDER_ID</key>
	<string>1040332827732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nematov.fireChat</string>
	<key>PROJECT_ID</key>
	<string>uzbek-messag</string>
	<key>STORAGE_BUCKET</key>
	<string>uzbek-messag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040332827732:ios:8d1b0d3dd738b01a4bd1c1</string>
	<key>DATABASE_URL</key>
	<string>https://uzbek-messag-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>